
@model Customer

@{
    ViewData["Title"] = "Customer Create";
}
<h1>Customer Create View</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="CustomerName"></label>
    <input asp-for="CustomerName" class="form-control" />

    <br />
    <label asp-for="Gender"></label>
    <input asp-for="Gender" class="form-control" />

    <br />
    <label asp-for="MobileNo"></label>
    <input asp-for="MobileNo" class="form-control" />

    <br />
    <label asp-for="EmailId"></label>
    <input asp-for="EmailId" class="form-control" />

    <br />
    <label asp-for="Address"></label>
    <textarea asp-for="Address" class="form-control" rows="6"></textarea>

    <br />
    <a asp-controller="Product" asp-action="Index" asp-area="" class="btn btn-info">Cancel</a>
    <button type="submit" class="btn btn-primary">Save Product</button>
</form>